In [14]:
import pickle
import pandas as pd
import re
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [5]:
df_test = pd.read_csv('test_fe.csv', index_col=0)

In [8]:
df_test.columns = [re.sub(r'[^a-zA-Z0-9_]', '_', str(col)) for col in df_test.columns]

In [9]:
X = ['etr_y_ma', 'etr_y_past', 'str', 'txt', 'str_cat__0_0875__0_192_', 'str_cat__0_28__inf_', 'cfc', 'revenue', 'pi', 'intant', 'intant_sqrt', 'diff', 'revenue_cat__0_174__1248_817_', 'WB_GDPpc', 'xrd_exists', 'revenue_cat__4233_587__inf_', 'ta', 'ta_log', 'ni', 'rd']

# Adaboost

In [23]:
with open(r"..\\models\\adaboost_local_champion.pkl", "rb") as f:
    model_ada = pickle.load(f)

print(model_ada)

AdaBoostRegressor(learning_rate=0.001, loss='square', n_estimators=100,
                  random_state=42)

In [24]:
y_pred_ada = model_ada.predict(df_test[X])

In [25]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_ada))
mae = mean_absolute_error(y_true, y_pred_ada)
ada_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [26]:
ada_model_score.rename(index={0: 'ada_model_score'},inplace=True)
ada_model_score

                     RMSE      MAE
ada_model_score  0.081702  0.05614

# Catboost

In [27]:
with open(r"..\\models\\catboost_local_champion.pkl", "rb") as f:
    model_cat = pickle.load(f)

In [28]:
y_pred_cat = model_cat.predict(df_test[X])

In [29]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_cat))
mae = mean_absolute_error(y_true, y_pred_cat)
cat_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [30]:
cat_model_score.rename(index={0: 'cat_model_score'},inplace=True)
cat_model_score

                     RMSE       MAE
cat_model_score  0.078059  0.053604

# GBM

In [31]:
with open(r"..\\models\\gbm_local_champion.pkl", "rb") as f:
    model_gbm = pickle.load(f)

In [33]:
y_pred_gbm = model_gbm.predict(df_test[X])

In [34]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_gbm))
mae = mean_absolute_error(y_true, y_pred_gbm)
gbm_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [35]:
gbm_model_score.rename(index={0: 'gbm_model_score'},inplace=True)
gbm_model_score

                     RMSE       MAE
gbm_model_score  0.079709  0.054231

# HistGBM

In [36]:
with open(r"..\\models\\histgbm_local_champion.pkl", "rb") as f:
    model_histgbm = pickle.load(f)

In [37]:
y_pred_histgbm = model_histgbm.predict(df_test[X])

In [38]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_histgbm))
mae = mean_absolute_error(y_true, y_pred_histgbm)
histgbm_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [39]:
histgbm_model_score.rename(index={0: 'histgbm_model_score'},inplace=True)
histgbm_model_score

                         RMSE       MAE
histgbm_model_score  0.077019  0.052609

# LightGBM

In [40]:
with open(r"..\\models\\lightgbm_local_champion.pkl", "rb") as f:
    model_lightgbm = pickle.load(f)

In [41]:
y_pred_lightgbm = model_lightgbm.predict(df_test[X])

In [42]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_lightgbm))
mae = mean_absolute_error(y_true, y_pred_lightgbm)
lightgbm_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [43]:
lightgbm_model_score.rename(index={0: 'lightgbm_model_score'},inplace=True)
lightgbm_model_score

                          RMSE       MAE
lightgbm_model_score  0.078298  0.052961

# XGBoost

In [44]:
with open(r"..\\models\\xgboost_local_champion.pkl", "rb") as f:
    model_xgboost = pickle.load(f)

In [45]:
y_pred_xgboost = model_xgboost.predict(df_test[X])

In [46]:
y_true = df_test.etr.tolist()
rmse = np.sqrt(mean_squared_error(y_true, y_pred_xgboost))
mae = mean_absolute_error(y_true, y_pred_xgboost)
xgboost_model_score = pd.DataFrame([rmse, mae]).T.rename(columns ={0:"RMSE", 1:"MAE"})

In [47]:
xgboost_model_score.rename(index={0: 'xgboost_model_score'},inplace=True)
xgboost_model_score

                         RMSE       MAE
xgboost_model_score  0.077992  0.053215

# XGBoostLSS

In [49]:
with open(r"..\\models\\xgboostlss_local_champion.pkl", "rb") as f:
    model_xgboostlss = pickle.load(f)

In [51]:
import xgboost as xgb

dtest = xgb.DMatrix(df_test[X])

y_pred_xgboostlss = model_xgboostlss.predict(dtest)

In [54]:
y_pred_xgboostlss.head()
y_pred_xgboostlss.columns
y_pred_xgboostlss.shape

(363, 2)

In [55]:
y_pred_xgboostlss.head()
y_pred_xgboostlss.columns

Index(['loc', 'scale'], dtype='object')

In [59]:
y_pred_point = y_pred_xgboostlss['loc'].values

y_true = df_test['etr'].values

rmse = np.sqrt(mean_squared_error(y_true, y_pred_point))
mae = mean_absolute_error(y_true, y_pred_point)

xgboostlss_model_score = pd.DataFrame([rmse, mae]).T.rename(columns={0:"RMSE", 1:"MAE"})
xgboostlss_model_score.rename(index={0: 'xgboostlss_model_score'},inplace=True)
xgboostlss_model_score

                            RMSE       MAE
xgboostlss_model_score  0.077099  0.052799

# Final comparison

In [60]:
final_comparison = pd.concat([ada_model_score, cat_model_score, gbm_model_score, histgbm_model_score, lightgbm_model_score, xgboost_model_score, xgboostlss_model_score])

In [61]:
final_comparison.sort_values("RMSE")

                            RMSE       MAE
histgbm_model_score     0.077019  0.052609
xgboostlss_model_score  0.077099  0.052799
xgboost_model_score     0.077992  0.053215
cat_model_score         0.078059  0.053604
lightgbm_model_score    0.078298  0.052961
gbm_model_score         0.079709  0.054231
ada_model_score         0.081702  0.056140

In [62]:
final_comparison.rename({
    "ada_model_score": "AdaBoost",
    "cat_model_score": "CatBoost",
    "gbm_model_score": "GBM",
    "histgbm_model_score": "HistGBM",
    "lightgbm_model_score": "LightGBM",
    "xgboost_model_score": "XGBoost",
    "xgboostlss_model_score": "XGBoostLSS"
}, inplace=True)

In [63]:
final_comparison = final_comparison.round(6)
final_comparison

                RMSE       MAE
AdaBoost    0.081702  0.056140
CatBoost    0.078059  0.053604
GBM         0.079709  0.054231
HistGBM     0.077019  0.052609
LightGBM    0.078298  0.052961
XGBoost     0.077992  0.053215
XGBoostLSS  0.077099  0.052799

In [64]:
existing_models = pd.DataFrame({
    "RMSE": [0.167860, 0.085129, 0.115057, 0.082121, 0.094528, 0.084485],
    "MAE":  [0.091059, 0.061867, 0.073336, 0.058620, 0.067130, 0.061772]
}, index=["NAIVE MODEL", "OLS", "ARMA", "ARDL", "KNN", "SVR"])

final_comparison = pd.concat([final_comparison, existing_models])

final_comparison = final_comparison.sort_values(by="RMSE")
final_comparison

                 RMSE       MAE
HistGBM      0.077019  0.052609
XGBoostLSS   0.077099  0.052799
XGBoost      0.077992  0.053215
CatBoost     0.078059  0.053604
LightGBM     0.078298  0.052961
GBM          0.079709  0.054231
AdaBoost     0.081702  0.056140
ARDL         0.082121  0.058620
SVR          0.084485  0.061772
OLS          0.085129  0.061867
KNN          0.094528  0.067130
ARMA         0.115057  0.073336
NAIVE MODEL  0.167860  0.091059

Based on the RMSE and MAE results, the tree-based models, especially HistGBM, XGBoostLSS, and XGBoost, achieve the best predictive performance, with the lowest errors. Traditional models like ARDL and SVR perform reasonably well but are slightly worse, while simple models such as ARMA and NAIVE MODEL have the highest errors and are less accurate. Overall, ensemble tree-based methods clearly outperform the others in this dataset.